.page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;;
    background-color: beige;
    
}
.launchform{
    width: 80%;
    max-width: 800px;
   border-color: black;
   background-color: blanchedalmond;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.formcon{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin:50px;
}

.nameandticker input{

    height: 30px;
    width: 300px;
    border-radius: 10px;
    

}



.launchform textarea{

    
    height: 100px;
    resize:vertical;
    width: 100%;
     margin-top: 10px;
    border-radius: 15px;
    

}
.textdiv{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.coinname{

    display: flex;
    flex-direction: column; 
    

}

.nameandticker input{
    margin-top: 10px;
}

.tickername{
    display: flex;
    flex-direction: column;
}

.nameandticker{

    display: flex;    
    gap: 40px;
    
     

}

