.page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
    
}
.launchform{
    width: 80%;
    max-width: 800px;
   border-color: black;
   background-color: rgb(246, 246, 245);
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px;    
    border-style: double;
    border-radius: 15px;
    
}

.formcon{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin:20px;
    width: 80%;
}

#name,#ticker {

    height: 30px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
     margin-top: 10px;
    

}



.launchform textarea{

    
    height: 100px;
    resize:vertical;
    width: 100%;
     margin-top: 10px;
    border-radius: 12px;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    

}
.textdiv{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.coinname{
    display: flex;
    flex-direction: column;   
    flex:1;  
}


.tickername{
    display: flex;
    flex-direction: column;
    flex:1;
}

.nameandticker{
    display: flex;    
    gap: 1.5rem;   
    width: 100%;    
}

.socials{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    row-gap: 30px;
}
#website,#ex,#tele {
   height: 30px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
    
}
.webx{
    width: 100%;
    display: flex;
    gap: 1.5rem;
}
.web,
.x {
    flex: 1;
}

@media (min-width: 768px) {
  .telegram {
    width: 45%;
  }
}



@media (max-width: 600px) {
  .nameandticker,
  .webx {
    flex-direction: column;
  }
  .telegram{
    width: 100%;
}
}