.navbar{
    display: flex;

}
.navleft{
 display: flex;
 align-items: center;
 margin-left: 10px;
 justify-content: flex-start;
 width: 50%;
 font-family: sans-serif;
}

.navright{
display: flex;
align-items: center;
justify-content: flex-end;
width: 50%;
}
 .navbar button{

    background-color: black;
    opacity: 1;
    color: white;
   
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    
} 

.navbar button:hover{
  background: linear-gradient(135deg, white);
  transform: translateY(-2px);
  color: black;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
}


.heading{
    color: white;
    /* background: linear-gradient(35deg, #1861ff, #b34700); */
    background-clip: text;
    font-size: 40px;
   
}
